{% extends "base.html" %}

{% block in_head %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
  <script src='{{ js_url }}'></script>
  <script>
    const events = {{ events | tojson }};
    const initialDate = {{ initial_date }};
    const nDays = {{ number_of_days }};
    initialize(initialDate, nDays, events, {{ has_spans | tojson }});
  </script>
{% endblock %}

{% block content %}
<h1>Availability Poll for {{ avrequest["fields"]["Name"] }}</h1>
  <ul>
    {% if avrequest["fields"]["Message"] %}
      <li><b>{{ avrequest["fields"]["Message"] }}</b></li>
    {% endif %}
    {% if has_spans %}
      <li>For the time spans shown in green, please drag your mouse to indicate
        your available times. Edit by dragging. Shift-click to delete.</li>
    {% endif %}
    {% if has_slots %}
      <li>For time slots shown in blue, please click to indicate your availability
        (green) or unavailability (red).</li>
    {% endif %}
    <li>When done, please press <b>submit</b> below.</li>
  </ul>
  <div id='calendar'></div>
  <form id="calendarForm" method="POST" class="mt-3">
    <div class="form-floating mb-3">
      <textarea class="form-control"  id="response" name="response" placeholder="..."
        >{{ avrequest["fields"]["response"] }}</textarea>
      <label for="response">Comments / Response to questions (see help text)</label>
      {% if avrequest["fields"]["Message"] %}
        <div class="form-text">{{ avrequest["fields"]["Message"] }}</div>
      {% endif %}
    </div>
    <input type="hidden" id="calendarState" name="calendarState"></input>
    <button type="button" id="submitButton" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
